@charset "utf-8";

:root {
	--main-color: #009ddf;
	--main-disibled-color: #859296;
	--main-bg-color: #ecf0f1;
	--em-color: #ff5571;
	--required-color: #ff6060;
	--border-color: #aeaeae;
	--line-color: #aeaeae;
	--btn-color: #212121;
	--btn-dim-color: #d4d4d4;
  
	/* 탭 컬러 */
	--text-tab-enabled: #505050;
	--text-tab-focused: #222;

	/* 텍스트 컬러 */
	--text-basic-default: #222;
	--text-basic-discription: #7A7A7A;
	--text-basic-caption: #A7A7A7;

	/* 보더 컬러 */
	--border-line-primary:#F0F2F4;
	--border-line-secondary:#C5C5C5;
	--border-line-teriary:#D8D8D8;

	/* --border-button-primary:#;
	--border-button-secondary:#; */

	--background-button-primary: #222;
  }


/* 가로 스크롤 형식 공통 */
.scroll-wrapper {overflow-y:hidden; overflow-x:auto; -webkit-overflow-scrolling:touch;}
.scroll-wrapper::-webkit-scrollbar {display:none !important;}
.scroll-wrapper .scroll {display:-webkit-inline-box; display:-webkit-inline-flex; display:inline-flex;}
.scroll-wrapper .scroll .item {white-space:nowrap;} /* 구분 칸 */
/* 가로 스크롤 형식 공통 */


/* 기본 토글 스위치 */
.ipt_switch {display:inline-block; height:18px}
.ipt_switch * {vertical-align:top;}
input[data-switch] {display:none;}
input[data-switch] + label {display:inline-block; position:relative; width:36px; height:18px; padding-left:15px; line-height:24px; background-color:#F5F5F5; border-radius:100px; text-align:center; transition:all 0.15s ease; font-size:17px; font-family:'Noto Sans KR'; font-weight:400; background-color:#e5e5e5; overflow:hidden;}
input[data-switch] + label:before {content:attr(data-off-label); display:block; position:absolute; top:50%; right:4px; color:#3C3C43; font-size:0.875em; font-family:inherit; font-weight:400; line-height:2em; text-align:center; overflow:hidden; transition:all 0.15s ease; transform: translateY(-50%); opacity:0.6;}
input[data-switch] + label:after {content: ''; position:absolute; top:50%; right:calc(100% - 2px); width:14px; height:14px; background-color:#fff; box-shadow:none; border-radius:2rem; transform:translate(100%, -50%); transition:all 0.15s; box-shadow:0 0 2px rgba(0,0,0,0.05);}
input[data-switch]:checked + label {background-color:#FF3D37;}
input[data-switch]:checked + label:before {left:2px; right:auto; content:attr(data-on-label); color:#fff; opacity:1;}
input[data-switch]:checked + label:after {right:2px; transform:translate(0,-50%);}
/* // 기본 토글 스위치 */





.wrap {display:flex; flex-direction:column; width:100%; max-width:720px; margin:0 auto; min-width:280px; font-family:'Noto Sans KR';}
.header_wrap {position:-webkit-sticky; position:sticky; top:0; left:0; width:100%; max-width:720px; background-color:#fff; z-index:1;}
.container_wrap {flex:1;}
.footer_wrap {}


.content_wrap {width:100%;}
.content_wrap.divide {display:flex; flex-direction:column; justify-content:space-between; height:100%;}
.content_wrap .content_top {background-color:#fff;}
.content_wrap .content_mid {flex:1; background-color:#F0F2F4;}
.content_wrap .content_btm {position:-webkit-sticky; position:sticky; bottom:0; left:0; width:100%;}

.content_wrap .content_center {display:flex; justify-content:center; align-items:center; width:100%; height:100%;}




/* 공통 임시 */
.header_wrap div.temp {display:flex; justify-content:center; align-items:center; position:relative; width:100%; height:50px; text-align:center;}
.header_wrap div.temp button {position:absolute; top:0; left:16px; width:auto; padding:12px 0;}
.header_wrap div.temp button span {display:block; width:26px; height:26px;}
.header_wrap div.temp h1 {color:var(--text-basic-default); font-size:18px; line-height:26px; font-weight:400;}
/* 공통 임시 */

/* 공통 상단 메뉴 */
.header_wrap nav ul.header_nav {display:flex; justify-content:flex-start; align-items:center; position:relative; padding:0 14px;}
.header_wrap nav ul.header_nav::before {content:""; display:block; position:absolute; bottom:0; left:0; width:100%; height:0.5px; border-bottom:0.5px solid var(--border-line-teriary);}
.header_wrap nav ul.header_nav li {}
.header_wrap nav ul.header_nav li button {position:relative; padding:0 6px;}
.header_wrap nav ul.header_nav li button span {display:block; position:relative; font-size:16px; padding:4px 0 6px; color:var(--text-tab-enabled); line-height:26px; font-weight:400; letter-spacing:-0.04em;}
.header_wrap nav ul.header_nav li button.active {font-weight:bold;}
.header_wrap nav ul.header_nav li button.active span {color:var(--text-tab-focused); font-weight:500;}
.header_wrap nav ul.header_nav li button.active span::before {content:""; display:block; position:absolute; bottom:0; left:0; width:100%; height:2px; background-color:#000;}
/* // 공통 상단 메뉴 */


/* 공통 페이지 타이틀 */
.webview_lnb_wrap {position:-webkit-sticky; position:sticky; top:0; left:0; z-index:10; padding:0 16px 16px; background-color:#fff;}



/* home notice */
.main_notice {display:flex; justify-content:center; align-items:center; padding:16px 18px;}
.main_notice div {position:relative; text-align:center; padding:0 13px; color:var(--text-basic-discription); font-size:12px;}
.main_notice div + div::before {content:""; display:block; position:absolute; top:50%; left:0; width:1px; height:10px; background-color:var(--text-basic-discription); transform:translate(-50%,-50%);}

.main_notice div button {display:inline-flex; align-items:center; gap:4px; width:auto; padding:4px 0;}
.main_notice div button span.ico {display:inline-block;}
.main_notice div button span.ico img {width:auto; height:20px;}
.main_notice div button span.txt {display:block; color:#999; font-size:12px; line-height:20px;}
/* // home notice */


/* home footer */
.main_footer {padding:22px 18px; background-color:#f8f8f8; letter-spacing:0;}
/* .main_footer svg {fill:#333; height:20px;} */
.main_footer p {color:var(--text-basic-discription); font-size:10px; line-height:1.8em;}
.main_footer p:first-of-type {padding:0; font-size:12px; line-height:18px;}
.main_footer p:first-of-type span {margin-left:9px; padding-left:10px; position:relative;}
.main_footer p:first-of-type span::before {content:""; display:block; position:absolute; top:50%; left:0; width:1px; height:60%; background-color:#999; transform:translateY(-50%);}
.main_footer p:first-of-type + p {padding:23px 0 12px}
.main_footer p span + span {margin-left:9px; padding-left:10px; position:relative;}
.main_footer p span + span::before {content:""; display:block; position:absolute; top:50%; left:0; width:1px; height:60%; background-color:#999; transform:translateY(-50%);}
/* // home footer */



/* 네트워크 오류 등 */
.error {padding:20px 18px; text-align:center;}
.error div.img {display:inline-block; width:64px; height:64px; vertical-align:top;}
.error div.tit {margin-top:40px; color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500;}
.error p.txt {margin-top:24px; color:var(--text-basic-discription); font-size:14px; line-height:22px;}
.error div.txt {margin-top:16px; padding:1em 1.25em; border:1.5px solid #ddd; background-color:#fff; border-radius:8px; color:#999; font-size:16px; line-height:22px; box-shadow:1px 2px 8px rgba(0, 0, 0, 0.16); text-align:left;}
.error button.refresh {display:inline-block; width:94px; max-width:none; height:38px; margin-top:40px; border-radius:8px; background-color:#F0F2F4;}
.error button.refresh span {display:inline-block; padding:0 0 0 20px; background:url('../images/common/ic-s-autorenew.png') no-repeat left center / 16px 16px; font-size:14px; line-height:22px; color:#222;}

.error button.btn_test {width:100%; height:48px; margin-top:60px; background-color:#333; border-radius:6px;}
.error button.btn_test span {color:#fff;}

.content_wrap .content_top .error {padding-top:80px;}


.btm_btn {padding:8px 20px 34px;}
.btm_btn button {height:50px; background-color:#222; border-radius:12px; overflow:hidden;}
.btm_btn button span {color:#fff;}
/* // 네트워크 오류 등 */


/* toTop */
.toTop {position:fixed; right:17px; bottom:-30px; width:36px; height:48px; background-color:#fff; border-radius:10px; opacity:0; transition:0.15s all ease-in-out; z-index:1000; text-indent:-1000em; overflow:hidden;}
.toTop::before {content:""; display:block; position:absolute; top:50%; left:50%; width:8px; height:8px; border-width:2px 2px 0 0; border-style:solid;  border-color:#000; transform:translate(-50%,-35%) rotate(-45deg);}
.toTop.active {bottom:2em; opacity:1; box-shadow:1px 2px 4px rgba(0, 0, 0, 0.16);}
/* // toTop */




/* 공지사항, 자주 묻는 질문 */
.notice_arcodian_wrap {padding:18px;}
.notice_arcodian_wrap .list {background-color:#fff; border-radius:12px; overflow:hidden;}
.notice_arcodian_wrap .list .item {}
.notice_arcodian_wrap .list .item + .item {border-top:1px solid var(--border-line-primary);}
.notice_arcodian_wrap .list .item div.tit_wrap {padding:12px 40px 12px 16px;}
.notice_arcodian_wrap .list .item div.tit_wrap {background:url('../images/common/ic-s-arrow-down.png') no-repeat right 20px center / 14px 14px;}
.notice_arcodian_wrap .list .item div.tit_wrap div {display:flex; width:100%; color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500;}
.notice_arcodian_wrap .list .item div.tit_wrap div span {width:20px; min-width:20px;}
.notice_arcodian_wrap .list .item div.tit_wrap p {flex:1;}
.notice_arcodian_wrap .list .item div.tit_wrap span.date {display:block; margin-top:4px; color:var(--text-basic-caption); font-size:12px; line-height:18px;}
.notice_arcodian_wrap .list .item div.detail_wrap {display:none; padding:0 16px 19px; color:var(--text-basic-discription); font-size:14px; line-height:22px; font-weight:400;}
.notice_arcodian_wrap .list .item div.detail_wrap span {width:20px; min-width:20px; max-width:20px;}
.notice_arcodian_wrap .list .item div.detail_wrap .inner {flex:1;}
.notice_arcodian_wrap .list .item.active div.tit_wrap {background-image:url('../images/common/ic-s-arrow-up.png');}
.notice_arcodian_wrap .list .item.active div.detail_wrap {display:flex;}
/* // 공지사항, 자주 묻는 질문 */




/* 레이어팝업 */
.layer {font-family:'Noto Sans KR';}
.layer div.dim {position:fixed; top:0; right:0; bottom:0; left:0; height:100vh; background-color:rgba(0,0,0,0.5); z-index:10;}

.layer.alert .layer_inner {
	min-width:280px; max-width:320px; width:80%;
	position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); background-color:#fff; border-radius:0.375em; color:inherit; z-index:1000; overflow-y:auto; box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.layer.alert .layer_inner .layer_content {padding:20px 20px 32px;}

.layer.alert .layer_content span.icon {display:inline-block; width:54px; height:54px; margin-bottom:20px;}
.layer.alert .layer_content div.tit {color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500; word-break:keep-all;}
.layer.alert .layer_content div.tit span {}
.layer.alert .layer_content div.tit span.safe {}
.layer.alert .layer_content div.tit span.care {color:var(--color-care);}
.layer.alert .layer_content div.tit span.warring {color:var(--color-warring);}
.layer.alert .layer_content div.tit + p.txt {margin-top:16px;}
.layer.alert .layer_content p.txt {color:var(--text-basic-discription); font-size:14px; line-height:22px; word-break:keep-all;}
.layer.alert .layer_content p.txt + p.small_txt {margin-top:12px; color:#999; font-size:16px; line-height:24px; word-break:keep-all;}

/* 얼랏 형 닫기 */
.layer.alert .layer_inner div.close {position:absolute; top:15px; right:15px; width:20px; height:20px;}
.layer.alert .layer_inner div.close button {position:relative; width:20px; height:20px; color:transparent; overflow:hidden;}
.layer.alert .layer_inner div.close button::before,
.layer.alert .layer_inner div.close button::after {content:""; display:block; position:absolute; top:50%; left:50%; width:100%; height:1px; background-color:#000;}
.layer.alert .layer_inner div.close button::before {transform:translate(-50%,-50%) rotate(45deg);}
.layer.alert .layer_inner div.close button::after {transform:translate(-50%,-50%) rotate(-45deg);}


/* 레이어 팝업 하단 버튼 공통 */
.layer .btn_group {display:flex; justify-content:space-between;}
.layer .btn_group div {width:100%; padding:0 20px 20px;}
.layer .btn_group div button {height:50px; background-color:#222; border-radius:12px;}
.layer .btn_group div button.next {color:#ff3a4a; font-weight:400;}
.layer .btn_group div button.prev,
.layer .btn_group div button.back,
.layer .btn_group div button.cancel,
.layer .btn_group div button.close {color:#000;}
.layer .btn_group div button span {display:block; color:#fff; font-size:16px; line-height:26px;}
/* // 레이어팝업 */




/* home, ipo일정 일정 */
div.ipo_date_list {}
div.ipo_date_list strong.date {display:block; padding:12px 0 10px; color:var(--text-basic-caption); font-size:12px; line-height:18px;}
div.ipo_item_list {background-color:#fff; border-radius:8px; overflow:hidden; box-shadow:0 2px 4px rgba(0,0,0,0.06);}
.ipo_item {display:flex; position:relative; justify-content:space-between; align-items:flex-start; gap:12px; padding:14px 16px; background-color:#fff;}
.ipo_item::before {content:""; display:block; position:absolute; top:50%; right:16px; width:14px; height:14px; margin-top:-7px; background:url('../images/common/ico_arrow_02_1.png') no-repeat left top / contain;}
.ipo_item + .ipo_item {border-top:1px solid #F0F0F0;}
.ipo_item div.thum {}
.ipo_item div.thum span {display:block; width:60px; height:60px; border-radius:8px; overflow:hidden;}
.ipo_item div.thum span img {}
.ipo_item div.txt_wrap {flex:1;}
.ipo_item div.txt_wrap div.code_name {}
.ipo_item div.txt_wrap div.code_name div {display:flex; align-items:center; gap:4px;}
.ipo_item div.txt_wrap div.code_name div strong.name {display:inline-block; color:var(--text-basic-default); font-size:14px; line-height:22px; font-weight:bold;}
.ipo_item div.txt_wrap div.code_name div span.status {display:inline-block;}
.ipo_item div.txt_wrap div.code_name div span.status img {display:block; width:auto; height:18px;}
.ipo_item div.txt_wrap div.code_name span.code {display:block; padding-bottom:2px; color:#969696; font-size:10px; line-height:15px;}
.ipo_item div.txt_wrap div.info {padding-top:4px;}
.ipo_item div.txt_wrap div.info dl {display:flex; align-items:flex-start; font-size:12px; gap:6px;}
.ipo_item div.txt_wrap div.info dl + dl {margin-top:4px;}
.ipo_item div.txt_wrap div.info dl dt {color:var(--text-basic-discription); line-height:18px;}
.ipo_item div.txt_wrap div.info dl dd {color:var(--text-basic-default); line-height:18px;}
.ipo_item div.txt_wrap div.info dl dd div + div {margin-top:4px;}
.ipo_item div.txt_wrap div.info dl dd button {width:auto;}
.ipo_item div.txt_wrap div.info dl dd button span {color:#000;}
/* home, ipo일정 일정 */



/* 기업분석 홈 */
/* 기업분석 목록 */
.ca_item_list {padding:0 20px;}
.ca_item {display:flex; position:relative; justify-content:space-between; align-items:flex-start; gap:12px; padding:14px 0; background-color:#fff;}
.ca_item::before {content:""; display:block; position:absolute; top:50%; right:16px; width:14px; height:14px; margin-top:-7px; background:url('../images/common/ico_arrow_02_1.png') no-repeat left top / contain;}
.ca_item + .ca_item {border-top:1px solid var(--border-line-primary);}
.ca_item div.thum {}
.ca_item div.thum span {display:block; width:20px; height:20px; border-radius:100px; overflow:hidden;}
.ca_item div.thum span img {}
.ca_item div.txt_wrap {flex:1;}
.ca_item div.txt_wrap div.code_name {}
.ca_item div.txt_wrap div.code_name div {display:flex; align-items:center; gap:4px;}
.ca_item div.txt_wrap div.code_name div strong.name {color:var(--text-basic-default); font-size:14px; line-height:22px; font-weight:bold;}
.ca_item div.txt_wrap div.code_name div span.status {}
.ca_item div.txt_wrap div.code_name span.code {display:inline-block; padding-bottom:0px; color:var(--text-basic-caption); font-size:10px; line-height:15px;}
.ca_item div.txt_wrap div.info {padding-top:4px;}
.ca_item div.txt_wrap div.info dl {display:flex; align-items:center; font-size:12px; gap:6px;}
.ca_item div.txt_wrap div.info dl + dl {margin-top:4px;}
.ca_item div.txt_wrap div.info dl dt {color:var(--text-basic-discription); line-height:18px;}
.ca_item div.txt_wrap div.info dl dd {color:var(--text-basic-default); line-height:18px; font-weight:normal;}
.ca_item div.txt_wrap div.info dl dd span {}
.ca_item div.txt_wrap div.info dl dd .plus {color:#FF3A4A;}
.ca_item div.txt_wrap div.info dl dd .minus {color:#3A5BFF;}
/* 기업분석 목록 */

/* 기업분석 더보기 */
.ipo_ca_more {margin-top:20px; border-top:0.5px solid #D8D8D8;}
.ipo_ca_more button {height:50px; background-color:#fff; font-weight:400;}
.ipo_ca_more button span {color:#3C3C3C; font-size:16px; line-height:24px;}
/* // 기업분석 더보기 */
/* // 기업분석 홈 */







/* 기업분석 상세 타이틀 */
.title_sub_detail {display:flex; justify-content:space-between; align-items:center; gap:12px; padding:12px 20px;}
.title_sub_detail div.thum {width:48px; min-width:48px;}
.title_sub_detail div.thum span {display:block; width:48px; height:48px; border-radius:100%; overflow:hidden;}
.title_sub_detail div.txt_wrap {flex:1;}
.title_sub_detail div.txt_wrap div.tit {}
.title_sub_detail div.txt_wrap div.tit strong {display:inline-block; color:var(--text-basic-default); font-size:18px; line-height:26px; font-weight:500; letter-spacing:-0.04em;}
.title_sub_detail div.txt_wrap span.code {display:block; margin-top:4px; color:var(--text-basic-discription); font-size:14px; line-height:22px;}
/* // 기업분석 상세 타이틀 */


/* 기업분석 상세 탭 메뉴 */
.ca_tab {padding:12px 16px;}
.ca_tab ul {display:flex; align-items:center; width:100%; background-color:#F5F5F5; border-radius:8px; overflow:hidden;}
.ca_tab ul li {width:100%;}
.ca_tab ul li button {height:40px;}
.ca_tab ul li button span {display:block; color:var(--text-tab-enabled); font-size:14px; line-height:20px; font-weight:400;}
.ca_tab ul li button.active {background-color:#fff; border:1px solid #A7A7A7; border-radius:8px; color:var(--text-tab-focused); overflow:hidden;}
.ca_tab ul li button.active span {color:var(--text-tab-focused); font-weight:500;}
/* // 기업분석 상세 탭 메뉴 */

/* 기업분석 상세 컨턴츠 */
.ca_detail_wrap {padding-bottom:10px;}
.ca_detail_page {position:relative;}

.detail_group {position:relative;}
.detail_group + .detail_group {/* margin-top:10px; */}
.detail_group > div.tit {height:50px; padding:12px 20px; color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:bold;}
.detail_group .detail_content {position:relative;}
.detail_group .detail_content p.txt {color:var(--text-basic-discription); font-size:14px; line-height:1.57142em;}

/* 투자전략 배너 */
.ca_bnr {position:relative; top:0; left:0; width:100%;}
.ca_bnr button {background-color:#2677FF; padding:12px 20px; border-radius:12px; box-shadow:0 3px 6px rgba(0,0,0,0.16);}
.ca_bnr button span {display:block; color:#fff; font-size:16px; line-height:26px; font-weight:bold;}
/* // 투자전략 배너 */

.sub_tit {color:var(--text-basic-default ); font-size:14px; line-height:22px;}

/* 기업분석 상세 리스트형 텍스트 */
.txt_list {}
.txt_list li {position:relative; padding-left:1em; color:var(--text-basic-discription); font-size:14px; line-height:22px; letter-spacing:-0.04em;}
.txt_list li::before {content:"·"; display:block; position:absolute; top:0; left:0; color:inherit; font-size:inherit; line-height:inherit; font-weight:inherit;}

.txt_list_02 {}
.txt_list_02 li {}
.txt_list_02 li strong {display:block; position:relative; padding-left:1em; color:var(--text-basic-default); font-size:14px; line-height:22px; font-weight:normal;}
.txt_list_02 li strong::before {content:"-"; display:block; position:absolute; top:0; left:0; color:inherit; font-size:inherit; line-height:inherit; font-weight:inherit;}
.txt_list_02 li p.txt {padding-left:1em;}
/* // 기업분석 상세 리스트형 텍스트 */


/* 기업분석 상세 그래프 영역 */
.graph_wrap {margin-top:20px;}
/* // 기업분석 상세 그래프 영역 */


/* 기업분석 상세 테이블 */
.table_type_01 {width:100%; border-top:1px solid var(--border-line-teriary); border-bottom:1px solid var(--border-line-teriary); color:var(--text-basic-default);}
.table_type_01 tr + tr {border-top:1px solid var(--border-line-teriary);}
.table_type_01 th {min-width:90px; padding:6px 0; background-color:#F5F5F5; font-size:12px; line-height:1.5em; font-weight:normal;}
.table_type_01 td {min-width:110px; padding:7px 11px; background-color:#fff; font-size:12px; line-height:1.5em; text-align:center;}
.table_type_01 td + td {min-width:120px;}

.table_type_02 {width:100%; margin-top:20px;}
.table_type_02 thead {}
.table_type_02 thead th {padding:6px 10px; background-color:#3C3C3C; color:#fff; font-size:12px; line-height:18px; font-weight:normal;}
.table_type_02 tbody th,
.table_type_02 tbody td {padding:6px 10px; border-bottom:1px solid var(--border-line-teriary); color:var(--text-basic-default); font-size:12px; line-height:18px; font-weight:normal;}
.table_type_02 tbody th {background-color:#fff;}
.table_type_02 tbody td {background-color:#fff;}

.table_type_03 {width:100%; margin-top:20px; border-top:0.5px solid var(--border-line-teriary); border-bottom:0.5px solid var(--border-line-teriary)}
.table_type_03 tr + tr {border-top:0.5px solid var(--border-line-teriary);}
.table_type_03 thead {}
.table_type_03 thead th {padding:6px 10px; background-color:#3C3C3C; color:#fff; font-size:12px; line-height:18px; font-weight:normal;}
.table_type_03 tbody th,
.table_type_03 tbody td {padding:6px 10px; color:var(--text-basic-default); font-size:12px; line-height:18px; font-weight:normal; text-align:center;}
.table_type_03 tbody th {background-color:#f5f5f5;}
.table_type_03 tbody td {background-color:#fff;}
.table_type_03 tbody tr:nth-child(even) td {background-color:#F5F5F5;}

.table_type_04 {width:100%; margin-top:20px; border-top:0.5px solid var(--border-line-teriary); border-bottom:0.5px solid var(--border-line-teriary)}
.table_type_04 tr + tr {border-top:0.5px solid var(--border-line-teriary);}
.table_type_04 th.th {padding:6px 10px; background-color:#3C3C3C; color:#fff; font-size:12px; line-height:18px; font-weight:normal;}
.table_type_04 th.th:first-child {border-right:0.5px solid var(--border-line-teriary);}
.table_type_04 th {padding:6px 10px; background-color:#fff; color:#fff; font-size:12px; line-height:18px; font-weight:normal;}
.table_type_04 th,
.table_type_04 td {padding:6px 4px; color:var(--text-basic-default); font-size:12px; line-height:18px; font-weight:normal; text-align:center;}
.table_type_04 th {background-color:#fff;}
.table_type_04 td {background-color:#fff;}
.table_type_04 tr:nth-child(even) td {background-color:#fff;}
.table_type_04 td.ddd {background-color:#6250FF; color:#fff;}
/* // 기업분석 상세 테이블 */


/* 주간사 목록 */
.lead_manager {padding-top:11px !important; padding-bottom:11px !important; text-align:right;}
.lead_manager li {text-align:right;}
.lead_manager li + li {padding-top:4px;}
.lead_manager li button {display:inline-flex; justify-items: flex-end; align-items:center; gap:4px; width:auto;}
.lead_manager li button span.ico {display:inline-block; width:16px; height:16px;}
.lead_manager li button span.txt {display:inline-block; color:#000; font-size:12px; line-height:1.5em; text-decoration:underline;}

.lead_manager.list {padding-top:0 !important; padding-bottom:0 !important;}
.lead_manager.list li {text-align:left;}
/* // 주간사 목록 */


/* 블러 처리용 그룹 */
.sub_group {display:block; position:relative; padding:0 20px 10px;}
.sub_group div.blur {content:""; position:absolute; top:66px; left:0; bottom:0; width:100%; background: rgba(255,255,255,0.5); -webkit-backdrop-filter:blur(4px); backdrop-filter: blur(4px);}
/* // 블러 처리용 그룹 */
/* // 기업분석 상세 컨턴츠 */


/* 홈 */

/* 홈 배너 */
.home_bnr {padding:0 20px;}
.home_ipo_wrap {padding:0 20px 10px;}
.home_ipo_wrap div.tit strong {display:block; height:50px; padding:12px 0; color:#000; font-size:16px; line-height:1.5em;}
/* // 홈 배너 */

/* 홈 혜택 플러스 */
.benefit_plus_wrap {padding:0 20px 20px;}
.benefit_plus_wrap div.tit {height:50px;}
.benefit_plus_wrap div.tit strong {display:block; padding:13px 0; color:var(--text-basic-default); font-size:16px; line-height:1.5em;}
/* // 홈 혜택 플러스 */

.benefit_bnr_list {position:relative; border-radius:8px; overflow:hidden; font-size:0;}
.main_benefit_dot {display:flex; position:absolute; top:10px; right:10px; gap:2px}
.main_benefit_dot li button {width:6px; height:6px; background-color:rgba(255,255,255,0.5); border-radius:10px; overflow:hidden; transition:width 0.2s ease-in-out;}
.main_benefit_dot li.slick-active button {width:10px; background-color:#fff;}

/* 홈 더보기 */
.home_date_more {margin-top:20px; }
.home_date_more button {height:50px; background-color:#F0F2F4; border:1px solid #a7a7a7; border-radius:12px; font-weight:400;}
.home_date_more button span {color:#3C3C3C; font-size:16px; line-height:26px;}
/* // 홈 더보기 */

/* // 홈 */



/* ipo 더보기 */
.ipo_date_more {margin-top:20px; border-top:0.5px solid #D8D8D8;}
.ipo_date_more button {height:50px; background-color:#f6f6f6; font-weight:400;}
.ipo_date_more button span {color:#3C3C3C; font-size:16px; line-height:24px;}
/* // ipo 더보기 */





/* 이용권 구독하기 팝업 */
.layer_subscribe {position:absolute; top:40px; left:20px; right:20px; padding:20px; border-radius:8px; background-color:#fff; box-shadow:0 0 10px rgba(0,0,0,0.16); z-index:1;}
.layer_subscribe div.tit {color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500;}
.layer_subscribe p.txt {margin-top:16px; color:var(--text-basic-discription); font-size:14px; line-height:22px;}
.layer_subscribe .btn_group {margin-top:32px;}
.layer_subscribe button {height:50px; background-color:#222; border-radius:12px;}
.layer_subscribe button span {color:#fff; font-size:16px; line-height:26px;}
/* // 이용권 구독하기 팝업 */




/* 공모주 정보 인트로 */
.intro_wrap {color:#222;}
.intro_wrap p {margin-top:12px; color:var(--text-basic-discription); font-size:12px; line-height:18px; letter-spacing:-0.03em;}
.intro_wrap .intro_content {padding:16px 20px 48px;}
.intro_wrap .intro_content .intro_top .intro_tit {color:var(--text-basic-default); font-size:22px; line-height:32px; font-weight:700;}
.intro_wrap .intro_content .intro_top div.img {margin-top:12px; border-radius:18px; overflow:hidden;}

.intro_wrap .intro_content .intro_sub_content {margin-top:40px;}
.intro_wrap .intro_content .intro_sub_content + .intro_sub_content {margin-top:48px;}
.intro_wrap .intro_content .intro_sub_content div.tit strong {display:inline-block; font-size:22px; line-height:32px; font-weight:bold;}
.intro_wrap .intro_content .intro_sub_content div.tit strong span {color:#2677FF;}
.intro_wrap .intro_content .intro_sub_content div.tit > span {display:inline-block; font-size:12px; line-height:18px;}
.intro_wrap .intro_content .intro_sub_content .intro_sub_group {position:relative; margin-top:16px;}
.intro_wrap .intro_content .intro_sub_content .intro_sub_group + .intro_sub_group {margin-top:40px;}
.intro_wrap .intro_content .intro_sub_content .intro_sub_group div.sub_tit {color:var(--text-basic-default); font-size:18px; line-height:26px; font-weight:500;}
.intro_wrap .intro_content .intro_sub_content .intro_sub_group div.sub_tit em {position:relative;}
.intro_wrap .intro_content .intro_sub_content .intro_sub_group div.sub_tit em::before {content:""; display:block; position:absolute; bottom:2px; left:0; width:100%; height:50%; background-color:#CAE6FF; z-index:0;}
.intro_wrap .intro_content .intro_sub_content .intro_sub_group div.sub_tit em span {position:relative;}
.intro_wrap .intro_content .intro_sub_content .intro_sub_group div.img {position:absolute; top:0; right:0; width:72px; height:72px;}

.intro_wrap .intro_guide {padding:32px 20px 48px; background-color:#F0F2F4;}
.intro_wrap .intro_guide .intro_guide_tit {color:var(--text-basic-discription); font-size:12px; line-height:18px; font-weight:bold;}
.intro_wrap .intro_guide ul {margin-top:18px;}
.intro_wrap .intro_guide ul li p {position:relative; margin-top:0; padding-left:19px; color:var(--text-basic-discription); font-size:12px; line-height:18px;}
.intro_wrap .intro_guide ul li p::before {content:"·"; display:block; position:absolute; top:0; left:8px; color:inherit; font-size:13px; line-height:inherit; font-weight:bold;}

.intro_wrap .intro_footer {position:-webkit-sticky; position:sticky; bottom:0; left:0; z-index:10; padding:20px; background-color:#fff;}
.intro_wrap .intro_footer button {height:50px; border-radius:12px; background-color:#222;}
.intro_wrap .intro_footer button strong {display:inline-block; color:#fff; font-size:16px; line-height:26px; font-weight:bold;}
/* 공모주 정보 인트로 */

/* 이용안내 */
.guide_wrap {height:100%;}
.guide_content_wrap {display:flex; flex-direction:column; justify-content:space-between; width:100%; height:100%;}
.guide_content_wrap .guide_top {padding:16px 20px;}
.guide_content_wrap .guide_top .guide_top_txt {display:flex; justify-content:space-between; align-items:center; gap:12px; padding:8px 16px; background-color:#fff; border-radius:8px;}
.guide_content_wrap .guide_top .guide_top_txt div.img {width:48px; height:48px; background-color:#F0F2F4; border-radius:16px; overflow:hidden;}
.guide_content_wrap .guide_top .guide_top_txt p {flex:1; border-radius:8px; color:var(--text-basic-discription); font-size:12px; line-height:18px; word-break:keep-all;}
.guide_content_wrap .guide_mid {padding-bottom:44px;}
.guide_content_wrap .guide_mid div.img {position:relative; background-color:#F0F2F4;}
.guide_content_wrap .guide_mid div.img span {position:absolute; top:0; left:0; overflow:hidden;}
.guide_content_wrap .guide_mid div.img span.img01_01 {position:absolute; top:22.85714%; left:27.77777%; width:44.44444%;}
.guide_content_wrap .guide_mid .slick-active div.img span.img01_01 {top:22.85714%;
	animation-name: identifier1; animation-duration: 0.3s; animation-delay:0.4s; animation-fill-mode:forwards;
}
.guide_content_wrap .guide_mid div.img span.img02_01 {top:21.42857%; left:27.77777%; width:44.44444%; opacity:0.4;}
.guide_content_wrap .guide_mid .slick-active div.img span.img02_01 {top:21.42857%;
	animation-name: identifier2_1; animation-duration: 0.3s; animation-delay:0.4s; animation-fill-mode:forwards;
}
.guide_content_wrap .guide_mid div.img span.img02_02 {top:45.35714%; left:27.77777%; width:44.44444%; opacity:0.4;}
.guide_content_wrap .guide_mid .slick-active div.img span.img02_02 {top:45.35714%;
	animation-name: identifier2_2; animation-duration: 0.3s; animation-delay:0.6s; animation-fill-mode:forwards;
}

.guide_content_wrap .guide_mid div.img span.img03_01 {top:33.85714%; left:31.33333%; width:21.666666%; opacity:0.4;}
.guide_content_wrap .guide_mid .slick-active div.img span.img03_01 {
	animation-name: identifier3_1; animation-duration: 0.3s; animation-delay:0.4s; animation-fill-mode:forwards;
}
.guide_content_wrap .guide_mid div.img span.img03_02 {top:44.78571%; left:43.666666%; width:28.61111%; opacity:0.4;}
.guide_content_wrap .guide_mid .slick-active div.img span.img03_02 {
	animation-name: identifier3_2; animation-duration: 0.3s; animation-delay:0.6s; animation-fill-mode:forwards;
}

.guide_content_wrap .guide_mid div.txt_wrap {padding:20px 10px 0; text-align:center;}
.guide_content_wrap .guide_mid div.txt_wrap strong {display:inline-block; color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:700;}
.guide_content_wrap .guide_mid div.txt_wrap p {margin-top:4px; color:var(--text-basic-discription); font-size:14px; line-height:22px; font-weight:400;}
.guide_content_wrap .guide_btm {background-color:#0066ff;}

.guide_slide_dot {display:flex; justify-content:center; gap:6px; position:fixed; bottom:40px; left:0; width:100%; font-size:0; }
.guide_slide_dot button {width:6px; height:6px; background-color:rgba(0,0,0,0.3); border-radius:3px; overflow:hidden; transition:all 0.2s ease-in-out;}
.guide_slide_dot li.slick-active button {width:23px; background-color:rgba(0,0,0,1);}
.guide_slick.slick-slider {position:unset;}


@keyframes identifier1 {
0% {top:22.85714%; left:27.77777%; width:44.44444%; border-radius:0px; box-shadow:0 3px 6px rgba(0,0,0,0.0);}
100% {top:22.85714%; left:19.44444%; width:61.11111%; border-radius:8px; box-shadow:0 3px 6px rgba(0,0,0,0.16);}
}
@keyframes identifier2_1 {
0% {top:21.42857%; left:27.77777%; width:44.44444%; border-radius:0px; box-shadow:0 3px 6px rgba(0,0,0,0.0); opacity:0.4;}	
100% {top:13.92857%; left:19.44444%; width:61.11111%; border-radius:8px; box-shadow:0 3px 6px rgba(0,0,0,0.16); opacity:1;}
}
@keyframes identifier2_2 {
0% {top:45.35714%; left:27.77777%; width:44.44444%; border-radius:0px; box-shadow:0 3px 6px rgba(0,0,0,0.0); opacity:0.4;}	
100% {top:46.42857%; left:19.44444%; width:61.11111%; border-radius:8px; box-shadow:0 3px 6px rgba(0,0,0,0.16); opacity:1;}
}

@keyframes identifier3_1 {
0% {top:33.85714%; left:31.33333%; width:21.666666%; border-radius:0px; box-shadow:0 3px 6px rgba(0,0,0,0.0); opacity:0.4;}
100% {top:25%; left:14.72222%; width:34.72222%; border-radius:8px; box-shadow:0 3px 6px rgba(0,0,0,0.16); opacity:1;}
}
@keyframes identifier3_2 {
0% {top:44.78571%; left:43.666666%; width:28.61111%; border-radius:0px; box-shadow:0 3px 6px rgba(0,0,0,0.0); opacity:0.4;}
100% {top:32.14285%; left:38.88888%; width:43.88888%; border-radius:8px; box-shadow:0 3px 6px rgba(0,0,0,0.16); opacity:1;}
}
/* // 이용안내 */




/* 홈 추가 수정 */

/* 홈 배너 영역 */
.home_bnr {background-color:#fff;}
/* // 홈 배너 영역 */

/* 홈 핫키워드 영역 */
.home_hotkeyword {padding:0 20px 20px; background-color:#fff;}
.home_hotkeyword div.tit {}
.home_hotkeyword div.tit strong {display:block; height:50px; padding:12px 0; color:#000; font-size:16px; line-height:1.5em;}
.home_hotkeyword ol {display:flex; flex-direction:column; gap:4px; width:100%;}
.home_hotkeyword ol li {display:flex; align-items:center;}
.home_hotkeyword ol li span {display:inline-block; width:17px; min-width:17px; color:#FF3A4A; font-size:14px; line-height:22px; font-weight:bold;}
.home_hotkeyword ol li p {flex:1; color:#000; font-size:14px; line-height:22px;}
.home_hotkeyword .home_keyword_more {padding:20px 0 0;}
.home_hotkeyword .home_keyword_more button {height: 50px; border:1px solid #a7a7a7; border-radius:12px; font-weight:400;}
/* // 홈 핫키워드 영역 */

/* 홈 기업 리포트 */
.home_report_wrap {padding:0 0;}
.home_report_wrap div.tit {padding:0 20px;}
.home_report_wrap div.tit strong {display:block; height:50px; padding:12px 0; color:#000; font-size:16px; line-height:1.5em;}
.report_list {padding:0 20px;}
.report_list div.item {}
.report_list div.item + div.item {margin-left:12px;}
.report_list div.item div.inner {width:168px; height:135px; padding:14px 16px; border-radius:8px; background-color:#fff; overflow:hidden;}
.report_list div.item div.inner span.date {display:block; font-size:12px; color:var(--text-basic-default);}
.report_list div.item div.inner div.code_name {margin-top:4px;}
.report_list div.item div.inner div.code_name strong.name {display:block; color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500;}
.report_list div.item div.inner div.code_name span.code {display:block; color:var(--text-basic-caption); font-size:10px; line-height:15px;}
.report_list div.item div.inner div.info {}
.report_list div.item div.inner div.info dl {display:flex; justify-content:space-between; align-items:center; gap:4px; width:100%; margin-top:4px; font-size:12px; line-height:18px;}
.report_list div.item div.inner div.info dl dt {color:var(--text-basic-discription); font-size:12px; line-height:18px; letter-spacing:-0.04em; white-space:nowrap;;}
.report_list div.item div.inner div.info dl dd {flex:1; font-size:12px; line-height:18px; letter-spacing:-0.04em;}
.report_list div.item div.inner div.info dl dd .plus {display:inline-block; color:#FF3A4A;}
.report_list div.item div.inner div.info dl dd .minus {display:inline-block; color:#3A5BFF;}
.report_list .slick-list  {padding-left:20px;}
.home_report_more {padding:20px;}
.home_report_more button {height:50px; background-color:#F0F2F4; border:1px solid #a7a7a7; border-radius:12px; font-weight:400;}
/* // 홈 기업 리포트 */

/* 홈 혜택 + */
.benefit_plus_wrap {background-color: #fff;}
/* // 홈 혜택 + */

/* //홈 추가 수정 */


/* 정리 필요 */
hr.line1 {display:block; height:12px; margin:0; padding:0; border:0; background-color:#F0F2F4;}
hr.line2 {display:block; height:1px; margin:0 20px; padding:0; border:0; background-color:#F0F2F4;}




/* 기업분석 검색어 입력 */
.ca_search_input {height:40px; padding:0 24px;}
.ca_search_input div.ipt_wrap {position:relative; padding:7px 28px; border-bottom:1px solid #D8D8D8;}
.ca_search_input div.ipt_wrap.active {border-color:#000;}
.ca_search_input div.ipt_wrap input.ipt {height:26px; margin:0; padding:0; border:0; font-size:16px; line-height:26px;}
.ca_search_input div.ipt_wrap input.ipt::placeholder {color:#a7a7a7; font-size:inherit; line-height:inherit;}
.ca_search_input div.ipt_wrap button.btn_del {position:absolute; top:50%; right:0; width:26px; height:26px; padding-right:8px; transform:translateY(-50%);}
.ca_search_input div.ipt_wrap button.btn_del span {display:block; width:16px; height:16px; background: url('../images/common/ic-s-circle-x.png') no-repeat center / 16px 16px; color:transparent; font-size:10px; line-height:1;}
.ca_search_input div.ipt_wrap button.submit {position:absolute; top:50%; left:0; width:26px; height:26px; padding-left:8px; transform:translateY(-50%);}
.ca_search_input div.ipt_wrap button.submit span {display:block; width:16px; height:16px; background: url('../images/common/ic-s-search.png') no-repeat center / 16px 16px; color:transparent; font-size:10px; line-height:1;}
/* // 기업분석 검색어 입력 */


/* 기업분석 검색 탭 */
.ca_search_tab {display:flex; justify-content:flex-start; align-items:center; gap:4px; margin-top:20px; padding:8px 20px;}
.ca_search_tab button {width:auto; padding:6px 12px; border-radius:8px; background-color:#F0F2F4;}
.ca_search_tab button span {display:inline-block; color:#222; font-size:14px; line-height:22px;}
.ca_search_tab button.active {background-color:#222;}
.ca_search_tab button.active span {color:#fff;}
/* // 기업분석 검색 탭 */


/* 기업분석 검색 결과 목록 */
.ca_search_list {padding:0 20px 20px;}
.ca_search_list div.item {display:flex; align-items:center; position:relative; width:100%; gap:12px; padding:12px 16px 12px 0;}
.ca_search_list div.item::before {content:""; display:block; position:absolute; top:50%; right:0; width:14px; height:14px; background:url('../images/common/ico_arrow_02_1.png') no-repeat center / cover; transform:translateY(-50%);}
.ca_search_list div.item + div.item {border-top:1px solid #F0F2F4;}
.ca_search_list div.item div.tag {display:flex; align-items:center;}
.ca_search_list div.item div.tag span {display:inline-block; width:39px; height:18px; background-color:#F0F2F4; border-radius:4px; color:666666; font-size:11px; line-height:18px; text-align:center;}
.ca_search_list div.item div.name_code {display:flex; align-items:center; gap:4px;}
.ca_search_list div.item strong.name {display:inline-block; color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500;}
.ca_search_list div.item span.code {display:inline-block; color:var(--text-basic-discription); font-size:10px; line-height:16px;}
/* // 기업분석 검색 결과 목록 */



/* 뉴스 */
.news_wrap {padding:0 20px;}

.news_filter {padding:8px 0;}
.news_filter div.ipt_select {display:inline-block; border:1px solid #222; border-radius:100px;}
.news_filter div.ipt_select select {width:auto; height:30px; padding:0 36px 0 12px; border:0 none; background:url('../images/common/ic-s-arrow-down_2.png') no-repeat right 12px center / 16px 16px; line-height:30px;;}
.news_filter div.ipt_select select option {height:30px; line-height:30px;}

.news_item {display:flex; justify-content:space-between; gap:12px; width:100%; padding:14px 0;}
.news_item + .news_item {border-top:1px solid var(--border-line-primary);}
.news_item div.thum span {display:block; width:96px; height:96px; background-color:#ff6600; border-radius:8px;}
.news_item div.txt_wrap {display:flex; flex-direction:column; gap:4px; flex:1;}
.news_item div.txt_wrap div.tit {color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500; overflow:hidden; white-space:normal; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.news_item div.txt_wrap p.txt {color:var(--text-basic-discription); font-size:14px; line-height:22px; overflow:hidden; white-space:normal; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.news_item div.txt_wrap div.author_info {display:flex;}
.news_item div.txt_wrap div.author_info span {display:inline-block; position:relative; color:var(--text-basic-caption); font-size:12px; line-height:18px;}
.news_item div.txt_wrap div.author_info span + span {margin-left:5px; padding-left:6px;}
.news_item div.txt_wrap div.author_info span + span::before {content:""; display:block; position:absolute; top:50%; left:0; width:1px; height:50%; background-color:var(--text-basic-caption); transform:translateY(-40%);}
/* // 뉴스 */



/* 게시글 보기 */
.board_view {}
.board_view .board_title {padding:0 20px;}
.board_view .board_title .inner {padding:12px 0; border-bottom:1px solid var(--border-line-primary);}
.board_view .board_title .inner h2 {color:var(--text-basic-default); font-size:16px; line-height:26px;}
.board_view .board_title .inner div.author_info {display:flex; margin-top:4px;}
.board_view .board_title .inner div.author_info span {display:inline-block; position:relative; color:var(--text-basic-caption); font-size:12px; line-height:18px;}
.board_view .board_title .inner div.author_info span + span {margin-left:5px; padding-left:6px;}
.board_view .board_title .inner div.author_info span + span::before {content:""; display:block; position:absolute; top:50%; left:0; width:1px; height:50%; background-color:var(--text-basic-caption); transform:translateY(-40%);}
.board_view .board_content {padding:20px; color:var(--text-basic-discription); font-size:14px; line-height:22px;}
.board_view .board_content .inner img {display:block; max-width:100%; width:auto; height:auto; margin:0 auto;}
/* // 게시글 보기 */



/* 알림 목록 */
.notice_list {padding:0 20px;}
.notice_list .notice_item {display:flex; justify-content:space-between; gap:12px; width:100%; padding:14px 0;}
.notice_list .notice_item + .notice_item {border-top:1px solid var(--border-line-primary);}
.notice_list .notice_item div.icon {min-width:40px;}
.notice_list .notice_item div.icon span {display:block; width:40px; height:40px;}
.notice_list .notice_item div.txt_wrap {flex:1; display:flex; flex-direction:column; gap:4px; padding:6px 0 0;}
.notice_list .notice_item div.txt_wrap div.info_date {display:flex; justify-content:space-between; align-items:center; width:100%;}
.notice_list .notice_item div.txt_wrap div.info_date span {display:inline-block; color:var(--text-basic-discription);}
.notice_list .notice_item div.txt_wrap div.info_date span.type {font-size:14px; line-height:22px;}
.notice_list .notice_item div.txt_wrap div.info_date span.date {font-size:12px; line-height:18px;}
.notice_list .notice_item div.txt_wrap div.tit {color:var(--text-basic-default); font-size:16px; line-height:26px; font-weight:500;}
.notice_list .notice_item div.txt_wrap div.txt {color:var(--text-basic-caption); font-size:12px; line-height:18px;}
/* // 알림 목록 */